<!-- Input parameters -->
{% assign filterType = include.filterType %}
{% assign filterName = include.filterName %}

{% if filterType %}
    <h2>Gerelateerde karakters</h2>
{% endif %}

<ul class="no-style-list no-style-link-group character-list">

    <!-- Initialize an empty array for character names -->
    {% assign characterNames = '' | split: ',' %}

    <!-- Filtering based on related characters -->
    {% if filterType == "character" %}
        {% for characterLink in site.data.character-character-link %}
            <!-- Filtered name could be the first in the link, or the second -->
            {% if characterLink.firstCharacterName == filterName %}
                {% assign characterNames = characterNames | push: characterLink.secondCharacterName %}
            {% elsif characterLink.secondCharacterName == filterName %}
                {% assign characterNames = characterNames | push: characterLink.firstCharacterName %}
            {% endif %}
        {% endfor %}   
    {% else %}
        <!-- No filtering, get all character names -->
        {% for character in site.data.characters %}
            {% assign characterNames = characterNames | push: character.name %}
        {% endfor %}
    {% endif %}

    <!-- Sort alphabetically -->
    {% assign characterNames = characterNames | sort %}
  
    {% for characterName in characterNames %}
        {% assign character = site.data.characters | where:"name", characterName | first %}
        {% if character.visible %}
        <li>
            <a href="../characters/{% if character.customLink %}{{ character.customLink }}{% else %}{{ character.name | replace: ' ', '-' }}{% endif %}">
                <div class="character-summary-wrapper">
                    <h2>{{ character.name }}</h2>
                    <div class="character-icons">
                        {% for icon_name in character.icons %}
                            {% assign icon = site.data.icons | where:"name", icon_name.name | first %}
                            {% if icon %}
                                <span class="icon {{ icon.name }}" title="{{ icon.description }}"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>  
        </li>
        {% endif %}
    {% endfor %}
</ul>