<div id="character-list-container"></div>

<script>
    window.currentObjectName = {{ include.currentObjectName | jsonify }};

    window.charactersData = {{ site.data.characters | jsonify }};
    window.icons = {{ site.data.icons | jsonify }};

    window.campaignCharacterLinks = {{ site.data.campaign-character-link | jsonify }};
    window.characterCharacterLinks = {{ site.data.character-character-link | jsonify }};
    window.locationCharacterLinks = {{ site.data.location-character-link | jsonify }};
    window.itemCharacterLinks = {{ site.data.item-character-link | jsonify }};
</script>
<script type="module" src="{{ '/assets/js/character-list.js' | relative_url }}"></script>