<!-- Input parameters -->
{% assign filterType = include.filterType %}
{% assign filterName = include.filterName %}

{% assign object = '' %}

{% if filterType == "location" %}
    {% assign object = site.data.locations | where:'name', filterName | first %}
{% elsif filterType == "character" %}
    {% assign object = site.data.characters | where:'name', filterName | first %}
{% endif %}

{%if object %}
    <ul>
        {% for property in object.properties %}
            <li>
                {{property.name}}: {{property.value}}
            </li>
        {% endfor %}
    </ul>
{% endif %}