<div id="image-list-container"></div>

<script type="module">
    import { fillObjectListDiv } from "{{ '/assets/js/object-lists/generic-list-builder.js' | relative_url }}";

    let links = null;
    switch (window.layout) {
        case 'campaign':
            links = {{ site.data.campaign-image-link | jsonify }};
            break;
        case 'character':
            links = {{ site.data.image-character-link | jsonify }};
            break;
        case 'location':
            links = {{ site.data.location-image-link | jsonify }};
            break;
        case 'item':
            links = {{ site.data.item-image-link | jsonify }};
            break;
    }

    fillObjectListDiv(
        {{ site.data.images | jsonify }},
        links,
        'image',
        'image-list-container'
    );
</script>