<!-- Input parameters -->
{% assign filterType = include.filterType %}
{% assign filterName = include.filterName %}

<!-- Initialize an empty array for image names -->
{% assign imageNames = '' | split: ',' %}

{% if filterType == "location" %}
    {% for imageLink in site.data.location-image-link %}
        {% if imageLink.locationName == filterName %}
            {% assign imageNames = imageNames | push: imageLink.imageName %}
        {% endif %}
    {% endfor %}
{% elsif filterType == "character" %}
    {% for imageLink in site.data.image-character-link %}
        {% if imageLink.characterName == filterName %}
            {% assign imageNames = imageNames | push: imageLink.imageName %}
        {% endif %}
    {% endfor %}
{% elsif filterType == "item" %}
    {% for imageLink in site.data.item-image-link %}
        {% if imageLink.itemName == filterName %}
            {% assign imageNames = imageNames | push: imageLink.imageName %}
        {% endif %}
    {% endfor %}
{% else %}
    <!-- No filtering, get all image names -->
    {% for image in site.data.images %}
        {% assign imageNames = imageNames | push: image.name %}
    {% endfor %}
{% endif %}

{% if imageNames.size == 0 %}
    -
{% else %}
    {% for imageName in imageNames %}
        {% assign image = site.data.images | where:"name", imageName | first %}
        <img src="../images/{{ image.name }}.{{ image.fileType }}" alt="{{ image.alt }}" height="{{ image.height }}" width="{{ image.width }}"/>
    {% endfor %}
{% endif %}
