<div id="item-list-container"></div>

<script type="module">
    import { fillObjectListDiv } from "{{ '/assets/js/object-lists/generic-list-builder.js' | relative_url }}";

    let links = null;
    switch (window.layout) {
        case 'campaign':
            links = {{ site.data.campaign-item-link | jsonify }};
            break;
        case 'character':
            links = {{ site.data.item-character-link | jsonify }};
            break;
        case 'location':
            links = {{ site.data.location-item-link | jsonify }};
            break;
        case 'item':
            links = {{ site.data.item-item-link | jsonify }};
            break;
    }

    fillObjectListDiv(
        {{ site.data.items | jsonify }},
        links,
        'item',
        'item-list-container'
    );
</script>