<!-- Input parameters -->
{% assign filterType = include.filterType %}
{% assign filterName = include.filterName %}
{% assign time = include.time %}

<ul class>

    <!-- Initialize an empty array for item names -->
    {% assign itemNames = '' | split: ',' %}

    <!-- Filtering for character page -->
    {% if filterType == "character" %}
        {% for itemCharacterLink in site.data.item-character-link %}
            <!-- Filtered name could be the first in the link, or the second -->
            {% if itemCharacterLink.characterName == filterName %}
                {% if time == "current" and itemCharacterLink.current %}
                    {% assign itemNames = itemNames | push: itemCharacterLink.itemName %}
                {% endif %}
                {% if time == "past" and itemCharacterLink.past %}
                    {% assign itemNames = itemNames | push: itemCharacterLink.itemName %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <!-- No filtering, get all item names -->
        {% for item in site.data.items %}
            {% assign itemNames = itemNames | push: item.name %}
        {% endfor %}
    {% endif %}

    <!-- Sort by chronologically -->
    {% assign itemNames = itemNames | sort %}
  
    {% for itemName in itemNames %}
        {% assign item = site.data.items | where:"name", itemName | first %}
        {% if item.visible or site.showInvisible %}
        <li>
            <a href="../items/{% if item.customLink %}{{ item.customLink }}{% else %}{{ item.name | replace: ' ', '-' }}{% endif %}">
                {{item.name}}
            </a>  
        </li>
        {% endif %}
    {% endfor %}
</ul>