<!-- Input parameters -->
{% assign filterType = include.filterType %}
{% assign filterName = include.filterName %}
{% assign time = include.time %}

<!-- Initialize an empty array for item names -->
{% assign itemLinks = '' | split: ',' %}

{% if filterType == "campaign" %}
{% for campaignItemLink in site.data.campaign-item-link %}
    {% if campaignItemLink.campaignName == filterName %}
        {% assign itemLinks = itemLinks | push: campaignItemLink %}
    {% endif %}
{% endfor %}
{% elsif filterType == "character" %}
    {% for itemCharacterLink in site.data.item-character-link %}
        {% if itemCharacterLink.characterName == filterName %}
            {% if time == "current" and itemCharacterLink.current %}
                {% assign itemLinks = itemLinks | push: itemCharacterLink %}
            {% endif %}
            {% if time == "past" and itemCharacterLink.past %}
                {% assign itemLinks = itemLinks | push: itemCharacterLink %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    <!-- No filtering, get all item names -->
    {% for item in site.data.items %}
        {% assign itemLinks = itemLinks | push: item.name %}
    {% endfor %}
{% endif %}

<!-- Sort by chronologically -->
{% assign itemLinks = itemLinks | sort:"itemName" %}

<ul class>
    {% if itemLinks.size == 0 %}
        <li>-</li>
    {% else %}
        {% for itemLink in itemLinks %}
            {% assign item = site.data.items | where:"name", itemLink.itemName | first %}
            {% if item.visible or site.showInvisible %}
                <li>
                    <a href="../items/{% if item.customLink %}{{ item.customLink }}{% else %}{{ item.name | replace: ' ', '-' }}{% endif %}">
                        {{item.name}}
                    </a>
                    {% if itemLink.comment %}
                        ({{itemLink.comment}})
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>