<div id="location-list-container"></div>

<script type="module">
    import { fillObjectListDiv } from "{{ '/assets/js/generic-list-builder.js' | relative_url }}";

    let links = null;
    switch (window.layout) {
        case 'campaign':
            links = {{ site.data.campaign-location-link | jsonify }};
            break;
        case 'character':
            links = {{ site.data.location-character-link | jsonify }};
            break;
        case 'location':
            links = {{ site.data.location-location-link | jsonify }};
            break;
        case 'item':
            links = {{ site.data.location-item-link | jsonify }};
            break;
    }

    fillObjectListDiv(
        {{ site.data.locations | jsonify }},
        links,
        'location',
        'location-list-container'
    );
</script>