<!-- Input parameters -->
{% assign filterType = include.filterType %}
{% assign filterName = include.filterName %}

<!-- Initialize an empty array for location names -->
{% assign locationNames = '' | split: ',' %}

{% if filterType == "campaign" %}
    {% for campaignLocationLink in site.data.campaign-location-link %}
        {% if campaignLocationLink.campaignName == filterName %}
            {% assign locationNames = locationNames | push: campaignLocationLink.locationName %}
        {% endif %}
    {% endfor %}
{% elsif filterType == "character" %}
    {% for locationCharacterLink in site.data.location-character-link %}
        {% if locationCharacterLink.characterName == filterName %}
            {% assign locationNames = locationNames | push: locationCharacterLink.locationName %}
        {% endif %}
    {% endfor %}
{% else %}
    <!-- No filtering, get all location names -->
    {% for location in site.data.locations %}
        {% assign locationNames = locationNames | push: location.name %}
    {% endfor %}
{% endif %}

<!-- Sort by chronologically -->
{% assign locationNames = locationNames | sort %}

<ul class>
    {% if locationNames.size == 0 %}
        <li>-</li>
    {% else %}
        {% for locationName in locationNames %}
            {% assign location = site.data.locations | where:"name", locationName | first %}
            {% if location.visible or site.showInvisible %}
            <li>
                <a href="../locations/{% if location.customLink %}{{ location.customLink }}{% else %}{{ location.name | replace: ' ', '-' }}{% endif %}">
                    {{location.name}}
                </a>  
            </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>