<script type="module">
    import { addMainImageToPage } from "{{ '/assets/js/main-image.js' | relative_url }}";

    let links = null;
    switch (window.layout) {
        case 'campaign':
            links = {{ site.data.campaign-image-link | jsonify }};
            break;
        case 'character':
            links = {{ site.data.image-character-link | jsonify }};
            break;
        case 'location':
            links = {{ site.data.location-image-link | jsonify }};
            break;
        case 'item':
            links = {{ site.data.item-image-link | jsonify }};
            break;
    }

    addMainImageToPage(
        {{ site.data.images | jsonify }},
        links
    );
</script>