<!-- Input parameters -->
{% assign filterType = include.filterType %}
{% assign filterName = include.filterName %}

{% if filterType == "character" %}
    {% assign character = site.data.characters | where:"name", filterName | first %}
    {% if character and character.headerImageName %}
        {% assign image = site.data.images | where:"name", character.headerImageName | first %}
    {% endif %}
{% endif %}

{% if image %}
    <img src="../images/{{ image.name }}.{{ image.fileType}}" alt="{{ image.alt }}" height="{{ image.height }}" width="{{ image.width }}"/>
{% endif %}