<!-- Input parameters -->
{% assign filterType = include.filterType %}
{% assign filterName = include.filterName %}

{% if filterType == "location" %}
    {% assign imageLinks = site.data.location-image-link | where:"locationName", filterName %}
    {% assign headerImageLink = imageLinks | where:"isHeaderImage", true | first %}
    {% if headerImageLink %}
        {% assign image = site.data.images | where:"name", headerImageLink.imageName | first %}
    {% endif %}
{% elsif filterType == "character" %}
    {% assign imageLinks = site.data.image-character-link | where:"characterName", filterName %}
    {% assign headerImageLink = imageLinks | where:"isHeaderImage", true | first %}
    {% if headerImageLink %}
        {% assign image = site.data.images | where:"name", headerImageLink.imageName | first %}
    {% endif %}
{% endif %}

{% if image %}
    <img src="../images/{{ image.name }}.{{ image.fileType}}" alt="{{ image.alt }}" height="{{ image.height }}" width="{{ image.width }}"/>
{% endif %}