---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% include main-image.html filterType="item" filterName=page.title %}

    <h2>Algemeen</h2>
    {% include general-info.html filterType="item" filterName=page.title %}

    {{ content }}

    <hr/>

    <h2>Gerelateerde Campaigns</h2>
    <h3>Verleden</h3>
    {% include campaign-list.html filterType="item" filterName=page.title isFlashback=true %}

    <h3>Heden</h3>
    {% include campaign-list.html filterType="item" filterName=page.title isFlashback=false %}

    <h2>Gerelateerde karakters</h2>
    {% include character-list.html filterType="item" filterName=page.title %}
    
    <h2>Gerelateerde locaties</h2>
    {% include location-list.html filterType="item" filterName=page.title %}
    
    <h2>Items</h2>
    <h3>Huidige bezittingen</h3>
    {% include item-list.html filterType="item" filterName=page.title time="current" %}
    <h3>Vorige bezittingen</h3>
    {% include item-list.html filterType="item" filterName=page.title time="past" %}

    <h2>Galerij</h2>
    {% include image-list.html filterType="item" filterName=page.title %}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
